body {
  background-color: #eceef1;
  font-family: 'Source Code Pro', monospace, Helvetica;
  letter-spacing: -1px;
}

header {
  height: 70px;
  float: right;
  display: inline;
}

header button {
  width: 102px;
  height: 34px;
  color: white;
  background-color: #0077C5;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  font-size: 1.125em;
  float: right;
}

.log-in {
  position: absolute;
  right: 120px;
}

header p {
  margin: 0;
  font-size: 12px;
}

.recovery:visited {
  color: #0077C5;
}

.form {
  position: absolute;
  width: 380px;
  left: 50%;
  margin-left: -190px;
  top: 70px;
}

.logo {
  /* position: absolute;
  left: 50%;
  margin-left: -190px;
  top: 70px; */
}