body {
  background-color: #eceef1;
  font: Helvetica;
}

header {
  height: 70px;
  float: right;
}

header button {
  width: 102px;
  height: 34px;
  color: white;
  background-color: #0077C5;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  font-size: 1.125em;
}

.form {
  position: absolute;
  width: 380px;
  left: 50%;
  margin-left: -190px;
  top: 70px;
}

.logo {
  /* position: absolute;
  left: 50%;
  margin-left: -190px;
  top: 70px; */
}