body {
  background-color: #eceef1;
  font-family: 'Source Code Pro', monospace, Helvetica;
  letter-spacing: -1px;
}

header {
  height: 70px;
  float: right;
  display: inline;
}

header button {
  width: 102px;
  height: 34px;
  color: white;
  background-color: #0077C5;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  font-size: 1.125em;
  float: right;
}

.log-in {
  position: absolute;
  right: 120px;
  color: #505050;
}

header p {
  margin: 0;
  font-size: 12px;
}

.blue-link:visited, .forgotten:visited {
  color: #0077C5;
}

.blue-link, .forgotten {
  text-decoration: none;
}

.blue-link:hover {
  text-decoration: underline;
}

.small-margins {
  margin-bottom: 2px;

}

.learn-more {
  font-size: 12px;
  margin-top: 2px;
}

.form {
  position: absolute;
  width: 380px;
  left: 50%;
  margin-left: -190px;
  top: 70px;
}

form {
  color: #4c4c4c;
  width: 380px;
  position: absolute;
  left: 50%;
  top: 180px;
  margin-left: -190px;
  background-color: white;
  border: 1px #c7c7c7 solid;
  border-radius: 4px;
  text-align: center;
}

form p {
  font-size: 13px;
}

input, label {
  display: block;
  margin-left: 28px;
}

label {
  font-size: 14px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
}

input {
  width: 320px;
  height: 34px;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
}

.phone-description {
  font-size: 10px;
  text-align: left;
  margin-left: 28px;
  margin-top: 2px;
}

.btn {
  color: white;
  background: #0077C5;
  width: 325px;
  height: 44px;
  border: #0077C5;
  border-radius: 4px;
  font-size: 1.125em;
  margin-top: 25px;
}

.btn:hover {
  background: rgb(27, 131, 201);
}

.terms {
  font-size: 12px;
  color: #757575;
  width: 300px;
  margin: 30px 0;
  margin-left: 45px;
  font-style: italic;
}

.captcha {
  font-size: 10px;
  background: #ECEEF1;
  height: 50px;
  vertical-align: center;
  color: #8d9096;
  line-height: 50px;
  margin-bottom: 1px;
}

footer {
  position: absolute;
  bottom: -150px;
}

.footer-links {
  text-align: center;
  font-size: 12px;
}

.footer-color {
  color: #505050;
}

.footer-color:visited {
  color: #505050;
}

.rights {
  color: #505050;
  text-align: center;
  font-size: 12px;
}